{% extends "base.html" %}
{% block content %}


<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/images/music-symbol.png">
    <title>{{ title }}</title>
    <!-- <script type="module" src="../static/js/chart.js"></script> -->

    <!-- Make a pie chart for artist in playlist -->
    <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart"] });
        artist_chart = google.charts.setOnLoadCallback(drawArtistChart);
        album_chart = google.charts.setOnLoadCallback(drawAlbumChart);
        genre_chart = google.charts.setOnLoadCallback(drawGenreChart);

        function drawArtistChart() {
            var data = google.visualization.arrayToDataTable([
                {% for key, value in artist_data.items()  %}
                    {% if value is string %}
                    ["{{ key | safe }}", "{ value | safe}}"],
                    {% else %}
                    ["{{ key | safe }}", {{ value | safe}}],
                    {% endif %}
                {% endfor %}
            ]);

        var options = {
            title: 'Playlist Breakdown By Artist',
            is3D: false,
        };

        var artist_chart = new google.visualization.PieChart(document.getElementById('playlist_by_artist_piechart'));
        artist_chart.draw(data, options);
        return artist_chart;
      }; // end of draw artist chart

      function drawAlbumChart() {
            var data = google.visualization.arrayToDataTable([
                {% for key, value in album_data.items() %}
                    {% if value is string %}
                    ["{{ key | safe }}", '{{ value | safe }}'],
                    {% else %}
                    ["{{ key | safe }}", {{ value }}],
                    {% endif %}
                {% endfor %}
            ]);

            var options = {
                title: 'Playlist Breakdown By Album',
                is3D: false,
            };

            var album_chart = new google.visualization.PieChart(document.getElementById('playlist_by_album_piechart'));
            album_chart.draw(data, options);
            return album_chart;
        }; // end of draw album chart

        function drawGenreChart() {
            var data = google.visualization.arrayToDataTable([
                {% for key, value in genre_data.items() %}
                    {% if value is string %}
                    ["{{ key | safe }}", '{{ value | safe }}'],
                        {% else %}
                    ["{{ key | safe }}", {{ value }}],
                        {% endif %}
                    {% endfor %}
            ]);

            var options = {
                title: 'Playlist Breakdown By Genre',
                is3D: false,
            };

            var genre_chart = new google.visualization.PieChart(document.getElementById('playlist_by_genre_piechart'));
            genre_chart.draw(data, options);
            return genre_chart;
        }; // end of draw genre chart

    </script>
</head>

<body>
    <div id="all-charts" >
        <div style="margin: 10px 0 0 10px;width: 1000px">
            <h3><b>Result of Breaking Down Playlist {{ playlist }} by Artist:</b></h3>
            <h4>Number of Tracks: {{ num_tracks }} </h4>
            <h4>Number of Artists: {{ num_artists }} </h4>
            <div id="playlist_by_artist_piechart" style="width: 99%; height: 500px;"></div>
        </div>

        <div style="margin: 10px 0 0 10px;width: 1000px">
            <h3><b>Result of Breaking Down Playlist {{ playlist }} by Album:</b></h3>
            <h4>Number of Albums: {{ num_albums }} </h4>

            <div id="playlist_by_album_piechart" style="width: 99%; height: 500px;"></div>
        </div>

        <div style="margin: 10px 0 0 10px;width: 1000px">
            <h3><b>Result of Breaking Down Playlist {{ playlist }} by Genre:</b></h3>
            <h4>Number of Genres: {{ num_genres }} </h4>

            <div id="playlist_by_genre_piechart" style="width: 99%; height: 500px;"></div>
        </div>
    </div>
</body>

{% endblock %}

</html>
