
{% extends "base.html" %}

<head>
    <link rel="icon" href="../static/images/music-symbol.png">
    {% block scripts %}
    <script src="../static/js/download-playlist-songs.js"></script>
    <script src="../static/js/extern/FileSaver-3.21.15.min.js"></script>
    {% endblock %}
    <title>{{ title }}</title>
</head>

<body >
    {% block content %}
    <button id="download_songs_txt" class="button is-link">
        Download Songs as Text File
    </button>
    <button id="download_songs_json" class="button is-link">
        Download Songs as JSON File
    </button>

    <br>

    <b>
    Song List for Playlist <div id="playlist_name">{{ playlist_name }}</div>

    <!-- Display every song in the list -->
    <!-- song by artist - album -->
    <div id="song_list_display" class="has-text-left">
        {% for id, info_dict in song_dict %}
        <!-- make hidden div of id -->
        <div class="is-inline" id="{{ id }}">
            <div class="is-inline" id="song_name_{{id}}">{{ info_dict.song_name }}</div>
            By <div class="is-inline" id="artists_{{id}}">{{ info_dict.artists }}</div>
            - <div class="is-inline" id="album_{{id}}">{{ info_dict.album }}</div>
        </div>
        <br>
        {% endfor %}


    </div>
    </b>

    {% endblock %}
</body>

</html>
